@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @ViewData["Str"]

    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <th>Build Number</th>
            <th>Commit</th>
            <th>Status</th>
            <th>Result</th>
        </tr>
        @foreach (var item in (List<BuildResponse>)ViewData["Builds"]!)
        {
            <tr>
                <td><a href="@item.GetBuildLink()">@item.BuildNumber</a></td>
                <td>@item.SourceVersion</td>
                <td>@item.Status</td>
                <td>@item.Result</td>
                <td>
                    <form action="javascript:void(0);" method="POST" onsubmit="requeue(@item.BuildNumber)">
                        <input type="submit" value="Requeue" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
